.product-card {
  position: relative;
  height: 100%;

  &__layout {
    @include flex-container($dir: column, $align: stretch, $gap: 0);
    height: 100%;
    padding: 25px;

    box-sizing: border-box;
    position: relative;

    background-color: var(--white);


    clip-path: polygon(100.0000% 7.1090%, 100.0000% 7.1090%, 99.9295% 6.1614%, 99.7177% 5.2306%, 99.3673% 4.3334%, 98.8847% 3.4861%, 98.2792% 2.7036%, 97.5622% 1.9994%, 96.7465% 1.3858%, 95.8462% 0.8740%, 94.8772% 0.4736%, 93.8565% 0.1924%, 92.8025% 0.0354%, 91.7343% 0.0000%, 90.6649% 0.0000%, 83.1784% 0.0000%, 82.1090% 0.0000%, 71.4141% 0.0000%, 70.3446% 0.0000%, 59.6497% 0.0000%, 58.5802% 0.0000%, 47.8854% 0.0000%, 46.8159% 0.0000%, 36.1210% 0.0000%, 35.0515% 0.0000%, 25.4261% 0.0000%, 24.3566% 0.0000%, 13.6618% 0.0000%, 12.5923% 0.0000%, 7.2459% 0.0312%, 6.1909% 0.1825%, 5.1683% 0.4582%, 4.1965% 0.8533%, 3.2928% 1.3603%, 2.4729% 1.9694%, 1.7511% 2.6698%, 1.1403% 3.4490%, 0.6519% 4.2937%, 0.2952% 5.1889%, 0.0770% 6.1186%, 0.0001% 7.0658%, 0.0000% 8.0162%, 0.0000% 8.9665%, 0.0000% 31.7755%, 0.0000% 32.7259%, 0.0000% 72.6416%, 0.0000% 73.5919%, 0.0338% 93.5488%, 0.2023% 94.4866%, 0.5108% 95.3959%, 0.9537% 96.2601%, 1.5226% 97.0640%, 2.2067% 97.7936%, 2.9936% 98.4362%, 3.8695% 98.9804%, 4.8192% 99.4159%, 5.8259% 99.7343%, 6.8717% 99.9298%, 7.9375% 99.9998%, 9.0070% 100.0000%, 10.0765% 100.0000%, 74.2438% 99.9545%, 75.2953% 99.7846%, 76.3116% 99.4911%, 77.2744% 99.0790%, 78.1667% 98.5563%, 78.9730% 97.9331%, 79.6793% 97.2203%, 80.2728% 96.4306%, 80.7424% 95.5775%, 81.0790% 94.6762%, 81.2765% 93.7429%, 81.3333% 92.7945%, 81.3333% 91.8441%, 81.3594% 89.9440%, 81.5158% 89.0046%, 81.8125% 88.0923%, 82.2443% 87.2236%, 82.8029% 86.4140%, 83.4776% 85.6775%, 84.2563% 85.0271%, 85.1252% 84.4742%, 86.0692% 84.0291%, 87.0718% 83.7004%, 88.1150% 83.4942%, 89.1798% 83.4136%, 90.2493% 83.4123%, 91.3188% 83.4123%, 92.3882% 83.4041%, 93.4499% 83.2958%, 94.4858% 83.0625%, 95.4770% 82.7076%, 96.4059% 82.2380%, 97.2562% 81.6627%, 98.0132% 80.9923%, 98.6635% 80.2387%, 99.1950% 79.4149%, 99.5978% 78.5352%, 99.8640% 77.6155%, 99.9894% 76.6724%, 100.0000% 75.7222%, 100.0000% 74.7718%);

    @media screen and (max-width: 860px) {
      padding: 10px 10px 8px 10px;

       clip-path: polygon(100.0000% 5.7252%, 100.0000% 5.7252%, 99.6927% 4.2092%, 98.7859% 2.8018%, 97.3468% 1.6032%, 95.4803% 0.6975%, 93.3168% 0.1511%, 91.0111% 0.0000%, 88.6878% 0.0000%, 86.3645% 0.0000%, 84.0411% 0.0000%, 81.7178% 0.0000%, 79.3945% 0.0000%, 77.0712% 0.0000%, 74.7479% 0.0000%, 72.4246% 0.0000%, 70.1012% 0.0000%, 67.7779% 0.0000%, 65.4546% 0.0000%, 63.1313% 0.0000%, 60.8080% 0.0000%, 58.4847% 0.0000%, 56.1613% 0.0000%, 53.8380% 0.0000%, 51.5147% 0.0000%, 49.1914% 0.0000%, 46.8681% 0.0000%, 44.5448% 0.0000%, 42.2214% 0.0000%, 39.8981% 0.0000%, 37.5748% 0.0000%, 35.2515% 0.0000%, 32.9282% 0.0000%, 30.6049% 0.0000%, 28.2815% 0.0000%, 25.9582% 0.0000%, 23.6349% 0.0000%, 21.3116% 0.0000%, 18.9883% 0.0000%, 16.6650% 0.0000%, 14.3416% 0.0000%, 12.0183% 0.0000%, 9.6950% 0.0000%, 7.3764% 0.0633%, 5.1525% 0.4909%, 3.1807% 1.2935%, 1.5994% 2.4112%, 0.5215% 3.7650%, 0.0283% 5.2594%, 0.0000% 6.7930%, 0.0000% 8.3271%, 0.0000% 9.8612%, 0.0000% 11.3953%, 0.0000% 12.9294%, 0.0000% 14.4635%, 0.0000% 15.9976%, 0.0000% 17.5317%, 0.0000% 19.0658%, 0.0000% 20.5999%, 0.0000% 22.1340%, 0.0000% 23.6681%, 0.0000% 25.2022%, 0.0000% 26.7363%, 0.0000% 28.2704%, 0.0000% 29.8045%, 0.0000% 31.3386%, 0.0000% 32.8727%, 0.0000% 34.4068%, 0.0000% 35.9409%, 0.0000% 37.4750%, 0.0000% 39.0091%, 0.0000% 40.5432%, 0.0000% 42.0773%, 0.0000% 43.6114%, 0.0000% 45.1455%, 0.0000% 46.6796%, 0.0000% 48.2137%, 0.0000% 49.7478%, 0.0000% 51.2819%, 0.0000% 52.8160%, 0.0000% 54.3501%, 0.0000% 55.8842%, 0.0000% 57.4183%, 0.0000% 58.9524%, 0.0000% 60.4865%, 0.0000% 62.0206%, 0.0000% 63.5547%, 0.0000% 65.0888%, 0.0000% 66.6229%, 0.0000% 68.1570%, 0.0000% 69.6911%, 0.0000% 71.2252%, 0.0000% 72.7593%, 0.0000% 74.2934%, 0.0000% 75.8275%, 0.0000% 77.3615%, 0.0000% 78.8957%, 0.0000% 80.4298%, 0.0000% 81.9638%, 0.0000% 83.4979%, 0.0000% 85.0320%, 0.0000% 86.5661%, 0.0000% 88.1002%, 0.0000% 89.6343%, 0.0000% 91.1684%, 0.0000% 92.7025%, 0.0000% 94.2366%, 0.2922% 95.7540%, 1.1847% 97.1653%, 2.6117% 98.3702%, 4.4691% 99.2841%, 6.6269% 99.8400%, 8.9311% 100.0000%, 11.2544% 100.0000%, 64.6877% 99.9540%, 66.9255% 99.5593%, 68.9237% 98.7856%, 70.5419% 97.6912%, 71.6650% 96.3535%, 72.2085% 94.8668%, 72.2543% 93.3337%, 72.2543% 91.7996%, 72.2599% 87.1973%, 72.6501% 85.6897%, 73.6338% 84.3050%, 75.1374% 83.1415%, 77.0523% 82.2808%, 79.2444% 81.7869%, 81.5572% 81.6794%, 83.8805% 81.6794%, 93.1601% 81.5515%, 95.3386% 81.0319%, 97.2301% 80.1490%, 98.7025% 78.9682%, 99.6488% 77.5722%, 99.9985% 76.0602%, 100.0000% 74.5262%, 100.0000% 72.9921%, 100.0000% 71.4580%, 100.0000% 69.9239%);
    }
  }

  &__shadow{
    filter: drop-shadow(5px 15px 70px rgba(173, 178, 201, 0.35));
    height: 100%;
    width: 100%;
  }

  &__img-box {
    @include flex-container($align: flex-end);
    padding: 32px;

    flex-grow: 4;

    position: relative;
    margin-bottom: 20px;

    border-radius: 30px;
    border: 2px solid var(--grey);
    box-sizing: border-box;

    @media screen and (max-width: 860px) {
      padding: 10px 10px 8px 10px;

      border-radius: 10px;
      border: 1px solid var(--grey);

      margin-bottom: 8px;
      padding: 0;
    }
  }

  &__label {
    @include font-16(var(--white));

    display: block;
    padding: 6px 14px;

    border-radius: 15px;
    background: var(--pink);

    position: absolute;
    top: 15px;
    left: 15px;

    @media screen and (max-width: 860px) {
      padding: 1px 8px;

      border-radius: 20px;
      font-size: 12px;

      top: 5px;
      left: 5px;
    }
  }

  &__img {
    display: block;

    max-width: 105px;
    width: 100%;
    max-height: 124px;
    height: 100%;

    @media screen and (max-width: 860px) {
      max-width: 74px;
      max-height: 86px;
    }
  }

  &__title {
    @include font-20;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;

    margin-bottom: 10px;


    @media screen and (max-width: 860px) {
      font-size: 14px;
      line-height: 130%;
      margin-bottom: 4px;
    }
  }

  &__tth-list {
    @include flex-container($gap: 10px, $just: flex-start);
    margin-bottom: 25px;

    @media screen and (max-width: 860px) {
      margin-bottom: 8px;;
    }
  }

  &__tth-element {
    @include font-16(var(--dark-grey));

    @media screen and (max-width: 860px) {
      font-size: 12px;
    }
  }

  &__tth-separator {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-image: url(../assets/icons/shared-icon/dot-grey.svg);
  }

  &__price-container {
    @include flex-container($gap: 7px, $align: flex-end, $just: flex-start);

    @media screen and (max-width: 860px) {
      gap: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__new-price {
    @include font-h4;

    @media screen and (max-width: 860px) {
      font-size: 18px;
    }
  }

  &__old-price {
    @include font-18(var(--dark-grey));

    display: inline-block;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      left: -1px;
      bottom: 60%;
      width: 100%;
      height: 1px;
      background: var(--dark-grey);
      transform: rotate(-3.086deg);
    }

    @media screen and (max-width: 860px) {
      font-size: 14px;
    }

    &::after{
      bottom: 50%;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;

    @include img-btn($mw: 60px, $mh: 60px, $b-rad: 50%, $bgsize: 28px 28px);
    background-image: url(../assets/icons/shared-icon/basket-white.svg);

    @media screen and (max-width: 860px) {
      max-height: 40px;
      max-width: 40px;
      background-size: 20px 20px;
    }
  }
}