.header {
  margin-bottom: 72px;

/* Линии */
  &__line {
    @include flex-container($just: space-between);

    &_first {
      padding: 12px var(--padding-layout);
      background-color: var(--grey);
    }

    &_second {
      padding: 15px var(--padding-layout);
      justify-content: center;
    }

    &_third {
      padding: 0 var(--padding-layout) 20px;
      align-items: flex-start;
    }
  }

/* группы */
  &__group-geo {
    @include flex-container($gap: 40px)
  }

  &__group-links1 {
    @include flex-container($gap: 30px)
  }

  &__group-links1-element{
    @include font-16;
  }

  &__group-links2 {
    @include flex-container($gap: 30px)
  }
  &__searcher {
    @include flex-container($just: space-between);
    flex-grow: 4;

    padding: 5px 5px 5px 25px;

    border-radius: 15px;
    border: 1px solid var(--pink);
  }

  &__searcher-input {
    @include font-16(var(--dark-grey));
    min-width: 120px;
  }

  /* Кнопки */
  &__searcher-btn {
    @include img-btn;
    background-image: url(../../assets/icons/header-icon/search-icon.svg);
  }

  &__btn-catalog {
    @include btn-with-icon($bgcolor: var(--pink));
  }

  &__btn-catalog-text {
    @include  content-btn-with-icon($url: url(../../assets/icons/header-icon/list-icon.svg));
  }

  &__btn-phone {
    @include font-18;
    border-radius: 15px;
    padding: 13px 24px;
    background: var(--pink);
    box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.2);
  }
}