.link {
  transition: opacity 0.2s linear;
}

.link:hover {
  opacity: 0.7;
}

.link:active {
  text-decoration: underline;
  opacity: 1;
}

.btn {
  transition: opacity 0.2s linear;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  scale: 0.99;
}

.logo {
  display: block;
  margin: 0;
  width: 80px;
  height: 80px;
}
