@import './mixes-fonts';
@import 'mixes-css';

@mixin flex-container($dir: row, $just: center, $gap: 15px, $align: center, $fw: wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
  flex-wrap: $fw;
}

@mixin grid-containter($gap: 20px, $minw: 355px, $maxw: 506px, $minh: 137px, $maxh: 196px){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minw, $maxw));
  grid-template-rows: minmax($minh, $maxh);
  justify-content: center;
  gap: $gap;
}

@mixin pse-icon($w: 24px, $h: 24px, $bs: contain, $bp: center, $disp: inline-block, $br: no-repeat){
  content: "";
  display: $disp;
  width: $w;
  height: $h;
  background-repeat: $br;
  background-position: $bp;
  background-size: $bs;
}

@mixin img-btn( $mw: 50px, $mh: 50px, $brad: 10px, $bgrep: no-repeat,
  $bgpos: center, $bgsize: 24px 24px, $bgcol: var(--pink)){

  min-width: $mw;
  min-height: $mh;
  border-radius: $brad;
  background-repeat: $bgrep;
  background-position: $bgpos;
  background-size: $bgsize;
  background-color: $bgcol;
}

@mixin btn-with-icon($mh: 60px, $p: 5px 5px 5px 20px, $br: 15px, $bgcolor: var(--button-gradient)){
  @include font-18;
  min-height: $mh;
  padding: $p;
  border-radius: $br;
  background: $bgcolor;
}

@mixin content-btn-with-icon($w: 50px, $h: 50px, $ml: 13px, $url: url(../../assets/icons/shared-icon/btn-arrow-icon.svg)){
  @include flex-container($gap: 0);

  &::after {
    @include pse-icon($w, $h);
    margin-left: $ml;
    background-image: $url;
  }
}

@mixin category-item($p: 13px 24px, $br: 15px, $bgcolor: var(--grey)){
  display: block;
  padding: $p;
  border-radius: $br;
  background-color: $bgcolor;
}

