.font-h1 {
  font-weight: 500;
  font-size: 70px;
}

.font-h2 {
  font-weight: 500;
  font-size: 50px;
}

.font-h3 {
  font-weight: 600;
  font-size: 38px;
}

.font-h4 {
  font-weight: 600;
  font-size: 24px;
}

.font-20 {
  font-weight: 500;
  font-size: 20px;
}

@mixin font-18($color: var(--white))  {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  font-style: normal;
  color: $color;
}

@mixin font-16($color: var(--black)) {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  font-style: normal;
  color: $color;
}

@mixin small-text($color: var(--white)) {
  color: $color;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 140%;
}
