:root {
  font-family: Euclid Circular A, Arial, Helvetica, sans-serif;

  --padding-layout: calc((100vw - 1560px) / 2);

  --grey: #f4f6f8;
  --pink: #e50e78;
  --white: #fff;
  --blace: #3b3c40;
  --dark-grey: #9293b0;
  --purple-light: #F3EFFF;
  --button-gradient: linear-gradient(96deg, #DD3197 0%, #822FAF 101.4%);
}
